'''
setting: debug
Turn debugging output on or off
'''
debug = True

'''
setting: cfgAuthBearer
Your Auth Bearer Token
'''
cfgAuthBearer = '0a1b2c3d4e5f6A7B8C9D0E'

"""
setting: cfgAuthEmail
The email you registered at CloudFlare with
"""
cfgAuthEmail = 'username+cloudflare@email.com'

'''
setting: apiURL
The URL of the digital ocean API
'''
apiURL = "https://api.cloudflare.com/client/v4/"


'''
setting: cfgDict
A dict with the various things we need to run these tests
'''
cfgDict = {
	"ipv4": {
		"check": True,
		"url_ip": 'http://v4.ipv6-test.com/api/myip.php',
		"rec_type": "A",
		"domainData": { "domain.com": ['home', 'www']}
	},
	"ipv6": {
		"check": True,
		"url_ip": 'http://v4v6.ipv6-test.com/api/myip.php',
		"rec_type": "AAAA",
		"domainData": { "domain.com": ['home','www']}
	}
}
