'''
setting: debug
Turn debugging output on or off
'''
debug = True

'''
setting: doAuthBearer
Your Auth Bearer Token from Digital Ocean
'''
doAuthBearer = '25e652c6efc375323f1d7b84ac27ecd620c26854e466059a77abe3b8906d7898'

'''
setting: domainData
A python dictionary of domains. Each domain/key should have a value that is a list of hostnames to update.
'''
domainData = {
    "domains.com" : 
        ['home', 'vpn', 'www']
}

'''
setting: Url_IP
A URL that will return your current IP address
'''
Url_IP = "http://bot.whatismyipaddress.com"

'''
setting: apiURL
The URL of the digital ocean API
'''
apiURL = "https://api.digitalocean.com/v2/domains"
#apiURL = "https://api-digitalocean-com-mtkr1l7y7ugv.runscope.net/v2/domains"
