domainData = {
    "domain1.com" : {   # This is the friendly domain name. Only used for human readability.
        "domainID" : "000000",    # The Domain ID according to Digital Ocean. See README to find this.
        "resources" : ["#######", "#######"]   # The resource IDs that represent a specific record in this domain
    },
    "domain1.co" : {
        "domainID" : "111111",
        "resources" : ["#######", "#######"]
    },
    "domain1.org" : {
        "domainID" : "222222",
        "resources" : ["#######", "#######"]
    },
    "domain1.net" : {
        "domainID" : "333333",
        "resources" : ["#######", "#######"]
    },
    "domain1.us" : {
        "domainID" : "444444",
        "resources" : ["#######", "#######"]
    },
    "domain2.com" : {
        "domainID" : "555555",
        "resources" : ["#######", "#######"]
    },
}
